body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    font-size: 100%;
}

@media only screen and (max-width: 320px) {
    body {font-size: 150%;} 
}

@media only screen and (min-width: 321px) and (max-width:820px) {
    body {font-size: 200%;} 
}  

@media only screen and (min-width: 821px) and (max-width:1920px) {
    body {font-size: 150%;} 
}  


input {
    display: none;
}

.bayan, .itemtitle, .meme {
    cursor: pointer;
}

.bayan {
    margin: 6rem auto;
    padding: 1rem;
    max-width: 37rem;
    background-color: white;
    color: #0059d9;
    
}

.bayan h2 {
    color: black;
}

.itemtitle {
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    justify-content: space-between;
    border-top: thin solid #dae0e4;
    
}

.meme {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    width: auto;
    text-align: center;
}

.meme img {
    width: 0;
    transition: width 0.5s; /* added fade out for pics, though it wasn't in the original task, but it really improves the beaviour of the menu.*/
}

span.fa-xmark {
    display: none;
}

input:checked + label {
    color: black;
}

input:checked + label div.meme {
    max-height: 100vh;
    overflow: hidden;
}

input:checked + label img{
    max-width: 100%;
    width: 25rem;
}

.bayan input:checked + label span.fa-xmark {
    transform: rotate(0);
    transition: transform 0.5s;
    font-size: 1.2rem;
    color: red;
}

@media (hover: hover) {
/* start section for hover-supporting devices */

.bayan:hover {
    color: black;    
}

.bayan:hover span.fa-xmark {
    transform: rotate(315deg);
    transition: transform 0.5s;
    font-size: 1.2rem; 
    display: inline;
}

.item:hover .meme {
    max-height: 32rem;
    overflow: hidden;
}

.item:hover .meme img {
    max-width: 100%;
    width: 25rem;
    transition: width 0.5s;
}

.item:hover span.fa-xmark {
    transform: rotate(0);
    transition: transform 0.5s;
    font-size: 1.2rem; 
    display: inline;
}

/* end section for hover-supporting devices */
}

.item:active {
    opacity: 0.5;
    color: #0059d9;
}
