body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

input {
    display: none;
}

.bayan, .itemtitle, .meme {
    cursor: pointer;
}

.bayan {
    margin: 100px auto;
    padding: 10px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    color: #0059d9;
    
}

.bayan h2 {
    color: black;
}

.bayan li {
    list-style: none;
}

.itemtitle {
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    justify-content: space-between;
    border-top: thin solid #dae0e4;
    
}

.meme {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    width: auto;
    text-align: center;
}

.meme img {
    width: 0;
    transition: width 0.5s; /* added fade out for pics, though it wasn't made in the sample, but it really improves beaviour of the menu.*/
}

span.fa-xmark {
    display: none;
}

input:checked + label div.meme {
    max-height: 500px;
    overflow: hidden;
}

input:checked + label img{
    width: 400px;
}

.bayan:hover {
    color: black;    
}

.bayan:hover span.fa-xmark {
    transform: rotate(45deg);
    font-size: 1.2rem; 
    display: inline;
}

input:checked + label span.fa-xmark {
    transform: rotate(0deg);
    font-size: 1.2rem;
}

.item:hover .meme {
    max-height: 500px;
    overflow: hidden;
}

.item:hover .meme img {
    width: 400px;
    transition: width 0.5s;
}

.item:hover span.fa-xmark {
    transform: rotate(0deg);
    font-size: 1.2rem; 
    display: inline;
}

.item:active {
    opacity: 0.5;
    color: #0059d9;
}
