* {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.bayan {
    margin: 100px auto;
    padding: 10px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    color: #0059d9;
}

.bayan h2 {
    color: black;
}
.bayan * {
    background-color: rgb(255, 255, 255);
}

.bayan li {
    list-style: none;
}

.itemtitle {
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
   
    border-top: thin solid #dae0e4;
    cursor: pointer;    
}

/* .bayan label {
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: #0059d9;
    border-top: thin solid #dae0e4;
    cursor: pointer;
} */

input {
    display: none;
}

.meme {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    width: auto;
    text-align: center;
}

input:checked + label div.meme {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.5s;
}

span.fa-xmark {
    display: none;
}

.bayan:hover {
    cursor: pointer;
    color: black;    
}

.bayan:hover span.fa-xmark {
    transform: rotate(45deg);
    font-size: 22px; /* redo!!! */
    display: inline;
    cursor: pointer;
}

input:checked + label div {
    color: black;
    cursor: pointer;
}



.bayan:hover input:checked + label span.fa-xmark {
    transform: rotate(0deg);
    font-size: 22px; /* redo!!! */
    cursor: pointer;
}

.item:hover .meme {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.meme:hover {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.item:hover span.fa-xmark {
    transform: rotate(0deg);
    font-size: 22px; /* redo!!! */
    display: inline;
    cursor: pointer;
}

.item:active {
    opacity: 0.5;
}

.item:active label {
    color: #0059d9;
}